-#  This file is app/views/reports/index.html.haml

.mainContentBoxHeader Reports


= form_tag '/reports/export', :method => :get do
 
    = label :report_type, 'Report Type:' 
    = select_tag :report_type, options_for_select([["Weekly Reports", "Weekly Reports "], ["Monthly Report", "Monthly Report"]])
    %br
    = 'Date Range (mm/yy):'
    = label :start_month, ''
    = select_tag :start_month, options_for_select(@months)
    = label :start_year, '/'
    = select_tag :start_year, options_for_select(@years)   

    = 'to'
    = label :end_month, ''
    = select_tag :end_month, options_for_select(@months)
    = label :end_year, '/'
    = select_tag :end_year, options_for_select(@years)   
    %br
    = submit_tag 'Export'

